html {
  background-color: rgb(123, 216, 228);
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

.text {
  display: flex;
  flex-direction: row;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: rgb(49, 49, 49);
  margin-right: 8px;
  transition-duration: 1s;
}

.text:hover p {
  color: transparent;
  filter: blur(15px);
  text-shadow: 0px 0px 15px transparent;
  transform: rotateZ(90deg) translateX(-100px) translateY(-100px);
}

.text p:nth-child(1) {
  transition-delay: 0.2s;
}

.text p:nth-child(2) {
  transition-delay: 0.4s;
}

.text p:nth-child(3) {
  transition-delay: 0.6s;
}

.text p:nth-child(4) {
  transition-delay: 0.8s;
}