html {
  background-color: rgb(123, 216, 228);
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
	perspective: 250px;
}

@keyframes animation {
	0% { transform: rotateX(0deg) rotateY(0deg); }

	50% { transform: rotateX(0deg) rotateY(180deg); }

	100% { transform: rotateX(180deg) rotateY(180deg); }
}

.loader {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background:rgb(47, 37, 141);
  animation:  animation 2s linear infinite;
}